<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>success</title>
</head>
<body>
    <h1 style="text-align: center;">your form is successfully submitted</h1>
    <h3 style="text-align: center;">if any problem please contact us:</h3>
    <br>
    <div style="text-align: center">
        <h4>Contact number:7699950645</h4>
        <h4>email:diptendumondal.2801@gmail.com</h4>
    </div>
</body>
</html>